body 
{

   background: url('tlo.jpg');
   color: #009000;
   font-size: 20px;
} 

#container
{
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.rectengle
{
	width: 1500px;
	margin: 20px;
	text-align: center;
}

#logo
{
	float: left;
	font-size: 70px;
	width: 550px;
	color: #99CCFF;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
    border-color: 0033FF;
    border-style: solid;
    border-width: 7px;
	border-radius: 20px;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0); 
}

#zegar
{
	float: right;
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
    border-color: 0033FF;
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0); 
}

.tekst
{
	margin 10px;
	margin-top: 30px;
	width: 440px;
	height: 270px;
	text-align: center;
	font-size: 30px;
	border-color: 0033FF;
    border-style: solid;
    margin: 10px;
    padding: 10px;
	border-radius: 20px;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0); 
}
