body{
font-family:Verdana;
color:#2F2F2F;
margin:0;
}
#baner1{
background-color:#DCDCDC;
width:55%;
height:80px;
text-align:center;	
float:left;
}
#baner2, #baner3, #baner4{
background-color:#DCDCDC;
width:15%;
height:80px;
float:left;
}
#lewy{
background-color:#808080;
height:450px;	
width:30%;
float:left;
}
#prawy{
background-color:#808080;
height:450px;
width:70%;
float:right;		
}
#stopka{
background-color:#DCDCDC;
text-align:center;
}
h5{
color:#808080;
border: 1px solid #808080;
margin:7px;
padding:10px;
font-size:80%;
}
input{
color:gray;
}